# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS/Linux/Windows junk
.DS_Store
Thumbs.db
